@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@700&family=Fredoka:wght@300..700&family=Overpass:wght@100..900&display=swap");

$dark-green: rgb(0, 38, 38);
$green: rgb(14, 71, 73);
$yellow: rgb(255, 215, 37);
$blue: rgb(29, 154, 170);
$light: rgb(239, 231, 218);

$main-color: $dark-green;
$secondary-color: $blue;
$accent-color: $yellow;
$light-color: $light;

.page {
  @media print {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  width: 21cm;
  height: 29.65cm;
  overflow: hidden;

  background-color: white;

  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  position: relative;

  .df-col {
    display: flex;
    flex-direction: column;
  }

  .df-row {
    display: flex;
    flex-direction: row;
  }

  header {
    position: relative;
    z-index: 900;
    display: flex;
    flex-direction: column;

    .header-bg {
      background-color: $main-color;
      padding: 1em 2em 0;
      display: flex;
      flex-direction: column;
    }

    color: $light-color;

    .header-content {
      align-items: center;
      display: flex;
      flex-direction: row;

      h1,
      h2 {
        font-weight: normal;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .name {
        padding: 0.5em 1em 0;

        flex: 1;

        h1 {
          font-family: "Amiko", sans-serif;
          font-weight: 700;
          font-style: normal;

          font-size: 2em;
          margin: 0;

          color: $yellow;
        }

        h2 {
          font-family: "Overpass", sans-serif;
          font-weight: 600;
          font-style: normal;

          margin-bottom: 0;
          margin-top: -0.3em;
          font-size: 1.5em;

          text-transform: uppercase;
        }
      }

      .infos {
        text-align: right;
        position: relative;

        .placeholder {
          //display: none;
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 38, 38, 0.8);
          padding: 0 0.5em;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;

          h3 {
            margin: 0;
            font-size: 1em;
          }
          p {
            margin: 0;
            font-size: 0.7em;
            opacity: 0.7;
            text-align: center;
          }
        }

        &:hover {
          .placeholder {
            display: flex;
          }
        }

        .info {
          margin: 0.1em;
          font-size: 0.8em;
          // opacity: 0.8;

          .info-icon {
            margin: 0 0 0 0.75em;
            color: $accent-color;
          }
        }
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;

    &.row-exp {
      flex: 1;
      .main {
        flex: 15;
      }

      .col {
        flex: 7;
      }
    }

    &.row-form {
      .main {
        flex: 17;
      }

      .col {
        flex: 9;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 70px;

    .main {
      margin: 0 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .col {
      padding-top: 1em;
      padding-bottom: 1em;
      margin-bottom: -0.5em;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      background-color: $light-color;
      position: relative;
      margin-top: -1.5em;

      overflow: hidden;

      .col-section {
        // margin-bottom: 0.5em;
        padding: 0.1em 1em;
      }

      .col-title {
        margin: 0.5em 0 1em;
        padding: 0.5em 0.5em 0.3em 0.5em;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: "Amiko", sans-serif;
        font-weight: 700;
        color: $main-color;

        background-color: $main-color;
        color: $accent-color;
        text-align: center;
        z-index: 2;
        position: relative;
        transform: rotate(-1.5deg);
        margin-left: -2rem;
        margin-right: -2rem;

        // width: 100%;

        // &::before {
        //   content: "";
        //   background-color: $main-color;

        //   position: absolute;
        //   width: 120%;
        //   height: 2.5em;
        //   z-index: -1;
        //   top: -0.4em;
        //   left: -1em;
        // }

        .red {
          color: #e30e0e;
        }
      }

      .langs {
        .lang {
          &:not(:last-child) {
            margin-bottom: 0.5em;
          }

          h3 {
            .icon {
              margin: 0 0.5em;
            }

            margin: 0.25em 0;
            font-weight: 600;
            color: $main-color;
            font-size: 1.05em;
            line-height: 1em;
          }

          .secondary {
            margin: 0;
            padding-left: 4em;
            font-size: 0.7em;
            line-height: 1em;
            font-weight: 400;
            opacity: 0.6;
          }
        }
      }

      .skills {
        display: flex;
        flex-direction: column;

        padding: 0 1em;

        margin-top: -1.25em;

        .skill {
          &:not(:last-child) {
            margin-bottom: 0.5em;
          }

          .meta {
            display: flex;
            flex-direction: row;
            align-items: center;

            .title {
              margin: 0;
              flex: 1;
              font-size: 0.95em;
              color: $main-color;
              opacity: 0.85;
            }

            .xp {
              text-align: right;
              font-size: 0.9em;
              font-weight: 600;
              font-variant: all-small-caps;
              color: $main-color;
              opacity: 0.6;
            }
          }

          .progress-bar-container {
            margin: 0.1em 0.1em;
            height: 0.1cm;
            background-color: $main-color;

            .progress-bar {
              height: 100%;
              background-color: $secondary-color;
              // opacity: 0.5;
            }
          }
        }

        .skill.new-skill {
          .xp {
            opacity: 1;
            background-color: $main-color;
            color: $accent-color;
            font-family: "Fredoka", sans-serif;

            font-size: 1rem;
            font-weight: 400;
            line-height: 1em;

            padding: 0em 0em 0.2em 0em;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 3em;
            height: 1em;

            text-align: center;

            position: relative;
          }

          .xp:before {
            width: 3em;
            height: 0;
            border-top: 0.1em solid transparent;
            border-bottom: 0.1em solid transparent;
            border-right: 3em solid $main-color;
            position: absolute;
            content: "";
            top: -0.1em;
            right: 0;
          }
          .xp:after {
            width: 3em;
            height: 0;
            content: "";
            border-bottom: 0.1em solid transparent;
            border-left: 3em solid $main-color;
            position: absolute;
            top: 1em;
            left: 0;
          }
        }
      }

      .projects {
        padding-bottom: 1.5em;
      }

      .projet {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: row;

        &:not(:last-child) {
          margin-bottom: 0.75em;
        }

        .images {
          display: flex;
          flex-direction: column;

          img {
            border-radius: 50%;
            border: solid 1px $main-color;
            height: 35px;
          }

          img:not(:first-child) {
            margin-top: -25%;
          }
        }

        .proj-desc {
          margin-left: 0.75em;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            margin: 0;
            font-weight: 600;
            color: $main-color;
            font-size: 1.1em;
            line-height: 1em;
          }

          .secondary {
            margin: 0;
            font-size: 0.75em;
            line-height: 0.9em;
            font-family: "Fredoka", sans-serif;
            font-weight: 400;
            opacity: 0.6;
          }
        }
      }
    }

    .section {
      margin: 0.5em;

      .sec-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: $main-color;

        .sec-icon {
          font-size: 1.5em;
          opacity: 0.8;
          width: 2rem;
          margin-bottom: 0.2em;
        }

        h2 {
          // font-variant: small-caps;
          text-transform: uppercase;
          font-size: 1.2em;
          font-family: "Overpass", sans-serif;
          font-weight: 600;
          margin: 0 0 0 0.8em;
          color: $main-color;
        }
      }

      .sec-content {
        position: relative;
        margin-left: 1rem;
        margin-top: 0.5em;
        padding-left: 1rem;

        &::before {
          content: "";
          position: absolute;
          border-left: solid 2px $secondary-color;
          opacity: 0.6;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }

      .date {
        font-family: "Fredoka", sans-serif;
        // font-weight: 500;
        font-size: 0.85em;
        line-height: 1em;

        color: $secondary-color;

        font-variant: all-small-caps;
        text-transform: uppercase;

        .from,
        .to {
          font-variant: normal;
          font-weight: 400;
          margin: 0 0.25em;
        }
      }
    }
  }

  .section.experiences {
    margin-top: 1em;
    margin-right: 1em;

    .experience {
      &::before {
        content: " ";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $secondary-color;
        opacity: 1;
        position: absolute;
        left: calc(-1em - 2px);
        top: 1.3em;
      }

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      position: relative;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
          color: $main-color;
          margin: 0;
          //padding-left: 0.3em;
          white-space: nowrap;
        }

        p {
          margin-bottom: 0;
          margin-top: 0.25em;
          padding-left: 0.5em;
        }
      }

      .exp-content {
        padding-left: 0.5em;
        margin-top: 0.25em;
      }

      .secondary {
        text-transform: uppercase;
        opacity: 0.8;
        color: $main-color;
        font-size: 0.9em;

        margin: 0 0 0.15em;

        .company {
          font-weight: 600;
        }
      }

      .description {
        padding-left: 0em;
        margin: 0;
        //font-size: 0.95rem;
        font-size: 10pt;
        opacity: 0.8;
        white-space: pre-wrap;
        line-height: 1.1em;
        text-align: justify;
      }

      .activities {
        padding-right: 0.5em;

        .activity {
          margin-bottom: 0.25em;

          .act-title {
            margin: 0;
            font-size: 0.9em;

            &::before {
              content: "-";
              margin-right: 0.5em;
            }
          }

          .description {
            padding-left: 1em;
          }
        }
      }

      .technologies {
        display: flex;
        flex-direction: row;
        font-size: 0.9em;

        p {
          margin: 0;
        }

        .tech-title {
          font-weight: 700;
          white-space: nowrap;
        }

        .tech-list {
          padding-left: 0.5em;
          font-size: 0.9em;
        }
      }
    }
  }

  .formations {
    .formation {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 0.75em;
      }

      .date {
        margin-bottom: 0.2em;
      }

      .form-content {
        font-size: 0.8em;

        h3,
        .secondary {
          display: inline;
        }
        h3 {
          font-weight: 600;
          font-size: 1.07em;
          position: relative;
          line-height: 1em;
          margin: 0.1em 0;
          white-space: pre-wrap;

          &::before {
            content: " ";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $secondary-color;
            position: absolute;
            left: calc(-1rem - 2px);
            top: calc(50% - 3px);
          }
        }

        .secondary {
          text-transform: uppercase;
          opacity: 0.8;
          color: $main-color;
          font-size: 0.9em;
          line-height: 1em;

          margin: 0;
          padding-left: 0.5em;
        }
      }
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

    img {
      max-height: 70px;
    }
  }

  .logo-line {
    padding: 0.255em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo-bubble {
    border-radius: 50%;
  }

  footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 600;

    .footer-container {
      color: $light-color;
      background-color: $main-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0em 1em 0.5em;

      height: 3em;

      // HACK fixing a glitch in firefox
      margin-top: -1px;

      a {
        color: inherit;
        text-decoration: none;
      }

      .hobbies {
        .icon {
          font-size: 1.3em;
          margin: 0 0.5em;

          color: $accent-color;
        }

        p {
          margin: 0;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        font-size: 0.7em;
      }

      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5em;
        font-size: 1.3em;

        .link {
          margin: 0 0.5em;
          color: $accent-color;
        }

        .social-tag {
          font-size: 0.7em;
          font-weight: 600;
          margin: 0 0.5em;
        }
      }
    }
  }
}
