@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$main-color: #2b333c;
$accent-color: #1879bb;
$light-color: #bfdaf0;

.page {

  -webkit-print-color-adjust: exact;

  width: 21cm;
  height: 29.7cm;

  background-color: white;

  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  position: relative;


  .df-col{
    display: flex;
    flex-direction: column;
  }

  .df-row {
    display: flex;
    flex-direction: row;
  }

  header {

    @media print {
      background-color: $main-color;
      color: white;
    }

    background-color: $main-color;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 0;

    .header-content {
      align-items: center;
      display: flex;
      flex-direction: row;

      h1, h2 {
        font-weight: normal;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      .name {
        flex: 1;

        h1 {
          font-size: 2.6em;
          margin: 0;
        }

        h2 {
          margin: 0;
          font-size: 1.85em;
          line-height: 0.9em;
        }
      }

      .infos {
        text-align: right;

        .info {
          margin: 0.10em;
          font-size: 0.8em;
          opacity: 0.8;

          .info-icon {
            margin: 0 0 0 0.75em
          }
        }
      }
    }

  }


  .row {
    display: flex;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .main {
      flex: 17;
      margin: 0 0.5em;
    }

    .col {
      flex: 10;
      display: flex;
      flex-direction: column;

      .col-section {
        padding: 0.1em 1em;

        h2 {
          margin: 0;
          margin-bottom: 0.75em;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.1em;
          transform: rotate(-3.5deg);
        }
      }

      .col-section-color {
        background-color: $light-color;
      }

      .projects{
        padding-bottom: 1.5em ;
      }

      .projet{
        display: flex;
        flex-direction: row;
        margin: 0.75em 0;

        .images {
          display: flex;
          flex-direction: column;
          img{
            border-radius: 50% ;
            border: solid 1px $main-color;
            height: 40px;
          }

          img:not(:first-child){
            margin-top: -25%;
          }
        }

        .proj-desc{
          margin-left: 0.75em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            margin: 0;
            font-weight: 600;
            color: $main-color;
            font-size: 1.1em;
            line-height: 1em;
          }
          .secondary{
            margin: 0;
            font-size: 0.7em;
            line-height: 1em;
            font-weight: 400;
            opacity: 0.6;
          }
        }
      }
    }

    .section {

      margin: 0.5em;

      .sec-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .sec-icon {
          font-size: 1.75em;
          opacity: 0.8;
          width: 2rem;
        }

        h2 {
          font-variant: small-caps;
          font-size: 1.75em;
          font-weight: 600;
          margin: 0 0 0 0.3em;
          color: $main-color;
        }
      }

      .sec-content {
        position: relative;
        margin-left: 1rem;
        margin-top: 0.5em;
        padding-left: 1rem;

        &::before {
          content: '';
          position: absolute;
          border-left: solid 2px $accent-color;
          opacity: 1;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }
    }


    .experiences {
      margin-top: 1em;
      margin-right: 1em;


      .experience {

        &::before{
          content: ' ';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $main-color;
          position: absolute;
          left: calc(-1em - 2px);
          top: 1.3em;
        }

        margin-bottom: 1em;
        position: relative;


        .date {
          flex-basis: 100%;
          font-weight: 500;
          font-size: 0.85em;
          line-height: 0.8em;

          color: $accent-color;

          font-variant: all-small-caps;
          text-transform: uppercase;

          .from, .to {
            font-variant: normal;
            font-weight: 600;
          }

        }

        .header {
          display: flex;
          flex-direction: row;
          align-items: center;

          .title {
            color: $main-color;
            margin: 0;
            //padding-left: 0.3em;
          }

          p{
            margin-bottom: 0;
            margin-top: 0.25em;
            padding-left: 0.5em;
          }

        }

        .exp-content{
          padding-left: 1em;
        }

        .secondary {
          text-transform: uppercase;
          opacity: 0.8;
          color: $main-color;
          font-size: 0.9em;

          margin: 0 0 0.15em;
        }

        .activities {

          .activity {
            margin-bottom: 0.5em;

            .act-title {
              margin: 0;
              font-size: 0.9em;

              &::before {
                content: "-";
                margin-right: 0.5em;
              }
            }

            .act-description {
              padding-left: 1em;
              margin: 0;
              //font-size: 0.95rem;
              font-size: 10pt;
              opacity: 0.8;
              white-space: pre-wrap;
              line-height: 1.1em;
            }
          }
        }
      }
    }

    .technologies {
      display: flex;
      flex-direction: row;
      font-size: 0.9em;

      max-width: 80%;

      p {
        margin: 0;
      }

      .tech-title {
        font-weight: 700;
        white-space: nowrap;
      }

      .tech-list {
        padding-left: 0.5em;
      }
    }

  }

  .formations {
    .logos {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      img {
        max-height: 70px;
      }
    }
  }

  .formation {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;

    .date {
      display: flex;
      flex-direction: column;
      text-align: right;
      white-space: nowrap;
      width: 5rem;
      margin-right: 0.3em;

      .to {
        color: $accent-color;
        font-weight: 600;
      }

      .from {
        color: $main-color;
        opacity: 0.8;
        font-weight: 600;
        font-size: 0.9em;
      }
    }

    .form-content {
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 1rem;
      }

      .secondary {
        margin: 0;
      }
    }
  }

  .logo-line{
    padding: 0.255em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo-bubble{
    border-radius: 50%;
  }


  footer {
    padding: 0;
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
