@media screen{
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    background-color: darkslateblue;
  }
  .page {
    box-shadow: rgba(50, 50, 50, 0.3) 0 0 3px 5px;
  }
}
