@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@700&family=Fredoka:wght@300..700&family=Overpass:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$dark-green: rgb(0, 38, 38);
$green: rgb(14, 71, 73);
$yellow: rgb(255, 215, 37);
$blue: rgb(29, 154, 170);
$light: rgb(239, 231, 218);

$background-color: $green;

@media screen {
  html {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background-color;
    min-width: 23cm;

    @-moz-document url-prefix() {
      & {
        font-size: 15px;
      }
    }
  }

  html,
  body,
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .App {
    padding: 3em 0;
    margin: auto;
  }
  .page {
    box-shadow: rgba(50, 50, 50, 0.3) 0 3px 5px;
    margin: 0 2em;
  }

  .app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em 2em 1em 2em;
    width: 21cm;
    padding: 0 1em;

    .tily {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 2em;

      h2 {
        color: $light;
        font-family: "Amiko", sans-serif;
        font-weight: bold;
        line-height: 1em;
        margin: 0 0 0 0.25em;
        display: block;
        padding-top: 0.15em;
      }

      .tily-logo {
        border-radius: 0.15em;
        height: 1.2em;
      }
    }
  }

  .int {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    font-size: 1.25em;

    .lang-btn {
      position: relative;
      margin-bottom: 0.6em;
      opacity: 0.6;
      cursor: pointer;

      .flag-icon {
        box-shadow: rgba(50, 50, 50, 0.6) 0px 0px 5px;
      }
      &:not(:last-child) {
        margin-right: 0.5em;
      }

      &.selected,
      &:hover {
        opacity: 1;
      }
      &.selected::after {
        height: 6px;
        width: 6px;
        background-color: $yellow;
        border-radius: 50%;
        content: "";
        position: absolute;
        bottom: -0.6em;
        left: calc(50% - 3px);
        display: block;
      }
    }
  }

  .notes {
    margin-top: 5em;
    text-align: center;
    color: $light;
    font-size: 0.8em;
    font-weight: 400;
    opacity: 0.5;
    font-family: "Overpass", sans-serif;

    p {
      margin: 2em 0;
    }

    a {
      color: inherit;
    }

    .red {
      color: #e30e0e;
    }
  }
  * {
    box-sizing: border-box;
    //line-height: 1.2em;
  }
}

@media print {
  .notes,
  .app-header,
  .int {
    display: none;
  }
}

@page {
  margin: 0;
  size: "A4";
}
